body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  #calculator {
    max-width: 232.84px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #output {
    min-height: 49.5px;
    word-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.5em;
    text-align: right;
    border-bottom: 1px solid #ccc;
  }
  
  #buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    padding: 15px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #f0f0f0;
  }