body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: black;
  background-color: #e9e9ed;
  padding: 5px 10px;
  align-items: center;
}

footer button {
  border: 1px solid black;
  background-color: #e9e9ed;
  color: black;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  width: 130px;
  height: 40px;
}

footer button:hover {
  background-color: black;
  color: #e9e9ed;
  transition: all ease 0.3s;
  border-radius: 5px;
}

footer a:hover {
  text-decoration: none;
}

footer a:visited {
 color: inherit;
}

#calculator {
  max-width: 230px;
  background-color: #e9e9ed;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#output {
  min-height: 60px;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  word-wrap: break-word;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  font-size: 1.5em;
  text-align: right;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#buttons > div {
  background-color: #fff;
}

button {
  background-color: #e9e9ed;
  padding: 15px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  aspect-ratio: 1 / 1;
}

button:hover {
  border-radius: 30px;
  background-color: #f0f0f0;
}
